In [34]:
#  Link for csv file
#  https://www.kaggle.com/datasets/PromptCloudHQ/us-technology-jobs-on-dicecom

import pandas as pd
import numpy as np

In [35]:
df_jobs = pd.read_csv("./dice_com-job_us_sample.csv")
print("Original df")
print(df_jobs.shape)
print(df_jobs.info())

# Select only required columns
df_jobs = df_jobs[['jobtitle', 'jobdescription', 'skills', 'company', 'joblocation_address']]
print("-------------------")
print("New df")
print(df_jobs.shape)
print(df_jobs.info())

Original df
(22000, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   advertiserurl             22000 non-null  object
 1   company                   21950 non-null  object
 2   employmenttype_jobstatus  21770 non-null  object
 3   jobdescription            22000 non-null  object
 4   jobid                     22000 non-null  object
 5   joblocation_address       21997 non-null  object
 6   jobtitle                  22000 non-null  object
 7   postdate                  22000 non-null  object
 8   shift                     21643 non-null  object
 9   site_name                 3490 non-null   object
 10  skills                    21957 non-null  object
 11  uniq_id                   22000 non-null  object
dtypes: object(12)
memory usage: 2.0+ MB
None
-------------------
New df
(22000, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobtitle             22000 non-null  object
 1   jobdescription       22000 non-null  object
 2   skills               21957 non-null  object
 3   company              21950 non-null  object
 4   joblocation_address  21997 non-null  object
dtypes: object(5)
memory usage: 859.5+ KB
None

In [36]:
# Clean skills column
df_jobs.dropna(subset=['skills'], inplace=True)

# Dropped records
# df_dropped_jobs = df_jobs[df_jobs['skills'].str.contains('see job description|see below|tad pgs|full time|contract|recruiter|years of|\(.*\)', na=False, case=False)]
# print(df_dropped_jobs.info())

# Drop the rows in the "skills" column that contain the values "see job description", "see below", "tad pgs", "full time", etc. or any value containing ( and )
df_jobs = df_jobs[~df_jobs['skills'].str.contains('see job description|see below|tad pgs|full time|contract|recruiter|years of|\(.*\)', na=False, case=False)]
print(df_jobs.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19674 entries, 1 to 21999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobtitle             19674 non-null  object
 1   jobdescription       19674 non-null  object
 2   skills               19674 non-null  object
 3   company              19626 non-null  object
 4   joblocation_address  19672 non-null  object
dtypes: object(5)
memory usage: 922.2+ KB
None

In [37]:
df_jobs.to_csv('jobs_data.csv', index=False)